body {
    background-image: url(https://cdn.pixabay.com/photo/2019/01/02/19/29/background-3909535_960_720.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
h1 {
    font-size: 50px;
    margin-bottom: 0%;
}
h4 {
    margin-top: 0%
}
img {
    border-radius: 50%;
}

/* 
Jeg forsøger at lave en flexbox herunder til at sætte billede og tekst op ved siden af hinanden.
*/
.flexbox-container {
    display: flex;
    align-items: center;
}
.flexbox-item {
    margin: 10px;
    border: 3px;
}
.flexbox-item-1 {
}
.flexbox-item-2 {
    min-height: 200px;
}